@import '../../../Styles/Variables.scss';
@import '../../../Styles/Mixins.scss';

#form {
    @include flex-column-center;
    width: 80%;
    .input-wrap {
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    input,
    textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $pinkishGrey;
        color: $silverPink;
    }
    .btn-container {
        margin: 1rem 0;
        .btn-send {
            width: auto;
            background-color: $silverPink;
            border: none;
            color: $black;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}
