.upload-wishlist {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.input-wrap {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 500px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: #fff;
}

.btn-send {
  width: 70px;
  background-color: #fff;
  border: none;
  color: #000000;
  outline: none;
}
